<!-- footer.component.html -->
<footer class="admin-footer">
  <div class="footer-content">
    <p>
      <i class="fa-solid fa-copyright"></i> 
      {{ currentYear }} Admin Dashboard. All rights reserved.
    </p>
    <div class="footer-links">
      <a href="#" class="privacy-link">
        <i class="fa-solid fa-shield-alt"></i> Privacy Policy
      </a>
      <a href="#" class="terms-link">
        <i class="fa-solid fa-file-contract"></i> Terms of Service
      </a>
    </div>
  </div>
</footer>