@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}

.home-image {
  position: relative;
  width: 100%;
  height: 400px; 
  background-image: url('../../../assets/3872.jpg');
  background-size: cover; 
  background-position: center center; 
}

.welcome-text {
  font-family: var(--font-serif);
  font-size: 2rem;
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.ball-card {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card svg {
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  
  .mx-4 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
  .px-4 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media (max-width: 1200px) {
  .home-image {
    height: 300px;
  }

  .welcome-text {
    font-size: 1.75rem;
  }
}

@media (max-width: 992px) {
  .home-image {
    height: 250px;
  }

  .welcome-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .home-image {
    height: 200px;
    background-position: center;
  }

  .welcome-text {
    font-size: 1.25rem;
  }
}

@media (max-width: 576px) {
  .home-image {
    height: 150px;
    background-position: center;
  }

  .welcome-text {
    font-size: 1rem;
  }
}