<!-- footer.component.html -->
<footer class="admin-footer">
    <div class="footer-content">
      <p class="copyright">
        Made with <fa-icon [icon]="faHeart" class="heart-icon"></fa-icon> 
        © {{ currentYear }} Admin Dashboard
      </p>
      <div class="footer-links">
        <a href="#" class="privacy-link">
          <fa-icon [icon]="faShieldAlt"></fa-icon> Privacy Policy
        </a>
        <a href="#" class="terms-link">
          <fa-icon [icon]="faFileContract"></fa-icon> Terms of Service
        </a>
      </div>
    </div>
  </footer>