.footer {
  position: sticky;
  bottom: 0;
  z-index: 999;
  border-top: 1px solid #6f807aad;
  background: #f5f5f5;
}

p {
  font-size: 14px;
  margin: 0;
}

.smartxoft-logo {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../../assets/images/smartxoft icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}
