.admin-header { 
  height: 60px; 
  border-bottom: 1px solid #6f807aad;
  background-color: #f5f5f5;
} 
 
.badge { 
  font-size: 12px; 
  padding: 3px 4.8px; 
}
 
.sidebar-toggle:hover { 
  color: #ddb283 !important; 
} 
 
.notification-btn:hover { 
  color: #ddb283; 
} 
 
.profile-section .dropdown-toggle { 
  cursor: pointer; 
} 
 
.avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.dropdown-menu { 
  right: 0; 
  left: auto; 
  position: absolute;
  z-index: 1000;
} 
 
.dropdown-menu a:hover { 
  background-color: #ddb283; 
  color: #104e39; 
} 
 
.dropdown-menu.show { 
  display: block; 
}

/* Remove dropdown caret/arrow */
.dropdown-toggle::after {
  display: none;
}