.index {
  z-index: 999;
}

.layer {
  background: rgb(27,94,32);
}

.nav_layer {
  background: rgb(236, 250, 236);
}

.socials {
  padding-right: 1rem; /* Adjusted for smaller screens */
}

.header-logo {
  background-image: url('../../../assets/1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  animation: spinPause 10s linear infinite;
}

.user-icon .dropdown-menu {
  min-width: 150px;
  padding: 0.5rem 0;
}

.user-icon svg {
  cursor: pointer;
}


@media (max-width: 768px) {
  .header-logo {
    width: 40px;
    height: 40px;
  }

  .socials {
    padding-right: 2%; /* Adjust for smaller screens */
  }

  /* Remove margin or padding between toggle and logo */
  .navbar-nav {
    margin-left: 0; /* Reset left margin */
  }

  .navbar-toggler {
    padding: 0; /* Remove padding */
    margin-right: 0; /* Ensure no margin between toggle and logo */
  }

  /* Align the logo to the right of the toggle button */
  .navbar-brand.d-md-none {
    margin-left: auto; /* Pushes logo to the right */
    padding-left: 0; /* Remove any left padding */
  }
}

.icon {
  width: 18px;
  height: 18px;
}

@media (max-width: 768px) {
  /* Align the logo to the left on mobile screens */
  .navbar-brand.d-md-none {
    margin-left: 0; 
  }

  
  .navbar-collapse {
    margin-right: 0 !important;
    padding-right: 0 !important;
  }

  @media (max-width: 768px) {
    .user-icon {
      order: 1;
      margin-left: auto;
    }
    .navbar-toggler {
      order: 2;
      margin-right: 0;
    }
  }
  

  .header-logo {
    width: 40px;
    height: 40px;
  }

  .socials {
    padding-right: 2%; /* Adjust for smaller screens */
  }

  .navbar-nav {
    margin-left: 0; /* Reset left margin */
  }
}
