/* admin-layout.component.css */

#wrapper {
  display: flex;
  height: 100vh;
  transition: all 0.5s ease;
}

#wrapper.toggled app-sidebar {
  width: 0;
}

section {
  display: flex;
  flex-direction: column;
  width: 80vw;
  background: white;
}

main {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}