<footer class="main-footer">
  <div class="container py-5">
    <div class="row gx-5">
      <!-- About Column -->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <div class="footer-widget px-lg-3">
          <h3>About</h3>
          <p>Lorem ipsum dolor sit amet consectetur diam ultricies leo etiam nibh tristique.</p>
          <p>odio feugiat vitae libero vestibu viverra elementum luctus.</p>
        </div>
      </div>
      
      <!-- Links Column -->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <div class="footer-widget px-lg-4">
          <h3>Links</h3>
          <ul class="links-list">
            <li><a href="about.html">About Us</a></li>
            <li><a href="courses.html">Courses</a></li>
            <li><a href="index.html">Historic Timeline</a></li>
            <li><a href="index.html">Career</a></li>
            <li><a href="index.html">Membership</a></li>
          </ul>
        </div>
      </div>
      
      <!-- Working Hours Column -->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <div class="footer-widget px-lg-4">
          <h3>Working Hours</h3>
          <p>Tincidunt neque pretium lectus donec risus.</p>
          <ul class="schedule-list">
            <li>Mon - Fri: 9:00AM - 6:00PM</li>
            <li>Sat - Sun: 8:00AM - 4:00PM</li>
          </ul>
        </div>
      </div>
      
      <!-- Contact Column -->
      <div class="col-lg-3 col-md-6">
        <div class="footer-widget px-lg-3">
          <h3>Get In Touch</h3>
          <ul class="info-list">
            <li>
              <div class="icon-box">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="location-icon">
                  <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                  <circle cx="12" cy="10" r="3"></circle>
                </svg>
              </div>
              Add: New Hyde Park, NY 11040
            </li>
            <li>
              <div class="icon-box">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mail-icon">
                  <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                  <polyline points="22,6 12,13 2,6"></polyline>
                </svg>
              </div>
              Email: <a href="mailto:example@info.com">example&#64;info.com</a>
            </li>
            <li>
              <div class="icon-box">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="phone-icon">
                  <path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
                </svg>
              </div>
              Phone: <a href="tel:3336660000">333 666 0000</a>
            </li>
          </ul>
          <ul class="social-links">
            <li>
              <a href="index.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="social-icon">
                  <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                </svg>
              </a>
            </li>
            <li>
              <a href="index.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="social-icon">
                  <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
                </svg>
              </a>
            </li>
            <li>
              <a href="index.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="social-icon">
                  <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                </svg>
              </a>
            </li>
            <li>
              <a href="index.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="social-icon">
                  <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                  <rect x="2" y="9" width="4" height="12"></rect>
                  <circle cx="4" cy="4" r="2"></circle>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="footer-bottom">
    <div class="container">
      <p>Copyright {{ currentYear }} by <a href="index.html">Master Golf Club</a> All Right Reserved.</p>
    </div>
  </div>
</footer>