* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}

.home-image {
    background-image: url('../../../assets/3872.jpg');
    background-position: center; 
  }

.page-content {
    padding: 1.5rem 3rem;
  }
  
  .custom-gap .col-lg-4,
  .custom-gap .col-md-6,
  .custom-gap .col-sm-12 {
    padding: 1rem;
  }
  
  .page-content .row.custom-gap {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  
  .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: whitesmoke;
    background-size: cover;
    background-position: center;
    box-shadow: 0 1px 1px rgba(36, 35, 35, 0.1), 0 2px 2px rgba(29, 28, 28, 0.1), 0 4px 4px rgba(34, 33, 33, 0.1);
    height: 250px;
    cursor: pointer;
    transition: transform 0.4s ease;
  }
  
  .card:hover {
    transform: scale(1.01);
  }
  
  .content {
    text-align: center;
  }
  
  .country {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
  }