.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.container-max {
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
}

.index {
  z-index: 999;
}

.layer {
  background: rgb(23, 112, 29);
  width: 100%;
}

.nav_layer {
  background: rgb(236, 250, 236);
  width: 100%;
}

/* Rest of your existing styles remain the same */
.socials {
  padding-right: 1rem;
}

.header-logo {
  background-image: url('../../../../assets/images/1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  animation: spinPause 10s linear infinite;
}

.nav-link{
  font-family: var(--font-sans);
  font-weight: 500;
  font-size: 15px;
}

/* Existing responsive styles */
@media (max-width: 768px) {
  .header-logo {
    width: 40px;
    height: 40px;
  }

  .socials {
    padding-right: 2%;
  }

  .navbar-nav {
    margin-left: 0;
  }

  .navbar-toggler {
    padding: 0;
    margin-right: 0;
  }

  .navbar-brand.d-md-none {
    margin-left: 0;
  }

  .navbar-collapse {
    margin-right: 0 !important;
    padding-right: 0 !important;
  }

  .user-icon {
    order: 1;
    margin-left: auto;
  }

  .navbar-toggler {
    order: 2;
    margin-right: 0;
  }
}