<!-- footer.component.html -->
<section class="partners">
  <div class="partners-sec container-fluid">
    <h2>Our Proud Partners</h2>
    <div class="partners-logo">
      <div class="partner-image partner-1"></div>
      <div class="partner-image partner-2"></div>
      <div class="partner-image partner-3"></div>
      <div class="partner-image partner-4"></div>
    </div>
  </div>
</section>

<section class="footer">
  <div class="footer-sec container-fluid">
    <div class="row">
      <div class="col-md-8 mt-5 contact-info">
        <div class="row row-cols-1 row-cols-md-1 ms-4">
          <!-- Email Box -->
          <div class="contact-box p-3 me-4">
            <div class="footer-img email-icon"></div>
            <h6>Email</h6>
            <a href="mailto:kaushik@gmail.com">{{'kaushik@gmail.com'}}</a>
          </div>

          <!-- Phone Box -->
          <div class="contact-box p-3 me-4">
            <div class="footer-img phone-icon"></div>
            <h6>Phone</h6>
            <a href="tel:+09877654331">+0 987-765-4331</a>
            <div class="social-icons mt-3">
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-facebook"></i>
            </div>
          </div>

          <!-- Address Box -->
          <div class="contact-box p-3">
            <div class="footer-img address-icon"></div>
            <h6>Address</h6>
            <p>140 Long Road, Chesterfield, Missouri 63005, UK</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <p>All rights reserved by Master Golf | Crafted by <span class="smartxoft-logo"></span></p>
    </div>
  </div>
</section>