 
   <section class="partners">
    <div class="partners_sec mt-5 col-md-12  col-sm-12">
       <div class="container">
        <h2 class="text-light text-center fw-bold" style="font-family: Montserrat,sans-serif;">
          Our Proud Partners
        </h2>
           <div class="partners_logo d-flex justify-content-between mt-5">
               <img src="./asset/image.png" class="img-fluid" alt="">
               <img src="./asset/image (1).png" class="img-fluid" alt="">
               <img src="./asset/image (2).png" class="img-fluid" alt="">
               <img src="./asset/image (3).png" class="img-fluid" alt="">
           </div>
       </div>
    </div>
    </section>
    <div class="footer_sec position-relative">
    <div class="container">
     <div class="row col-md-12">
      <div class="col-md-8 col-sm-12 mt-5">
       <div class="row row-cols-1 row-cols-md-3 d-flex justify-content-evenly">
         <div class="col-md-3">
          <div class="footer_item py-4 text-center">
            <div class="footer_img">
              <img src="./asset/sms-tracking.png" class="img-fluid" alt="">
            </div>
            <div class="footer-body mt-1">
              <h6 class="text-success fw-bold">Email</h6>
            </div>
          </div>
         </div>
           <div class="col-md-3">
            <div class="footer_item py-3 text-center">
              <div class="footer_img mt-2">
               <img src="./asset/call-calling.png" class="img-fluid" alt="">
              </div>
              <div class="footer-body mt-2">
                <h6 class="text-success fw-bold">Phone</h6>
                <a class="text-decoration-none text-dark">+0 987-765-4331</a>
              </div>
            </div>
             <div class="d-flex justify-content-center mt-5 d-none d-md-block" style="font-size: 30px;">
                 <i class="fa-brands fa-instagram text-light ms-5"></i>
                 <i class="fa-brands fa-facebook text-light ms-1"></i>
             </div>
           </div>
          <div class="col-md-3">
            <div class="footer_item py-2 text-center">
              <div class="footer_img mt-2">
               <img src="./asset/routing.png" class="img-fluid" alt="">
              </div>
              <div class="footer-body mt-3">
                <h6 class="text-success fw-bold">Address</h6>
                <a class="text-decoration-none text-dark">140 Long Road, Chesterfield, Missouri 63005, United Kingdom</a>
              </div>
           </div>
         </div>
       </div>
     </div>
     <div class="col_md-4"></div>
    </div>
    <div class="row">
     <div class="footer_bottom col-md-12 col-sm-12 mt-3 ms-3 d-flex">
       <div class="col-md-4">
       <p class="text-light">All rights reserved by Master Golf</p>
     </div>
     <div class="col-md-6"></div>
     <div class="col-md-2">
       <p class="text-light">Crafted By-<span class="text-light fw-bold">SmartXoft</span></p>
     </div>
    </div>
   </div>
  </div> 
</div>