<div class="section_padder">
    <!-- <header>
       <nav class="navbar navbar-expand-lg bg-body-tertiary">
         <div class="container">
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"><img src="./asset/toggler.png" class="img-fluid" alt=""></span>
           </button>
             <img src="./asset/logo.svg" class="navbar-brand" href="#">
           <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
             <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
               <li class="nav-item">
                 <a class="nav-link active fw-bold"href="#">Home</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link " href="/concept.html">Concept</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="#">Courses</a>
               </li>
               <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Services
                 </a>
                 <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                   <li><a class="dropdown-item" href="#">Action</a></li>
                   <li><a class="dropdown-item" href="#">Another action</a></li>
                   <li><hr class="dropdown-divider"></li>
                   <li><a class="dropdown-item" href="#">Something else here</a></li>
                 </ul>
               </li>
               <li class="nav-item">
                 <a class="nav-link " href="#">News</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link " href="#">Enquires</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link " href="#">Contact</a>
               </li>
             </ul>
           </div>
         </div>
       </nav>
     </header> -->
 
    <!--------============== Header-end ================------->
 
 
    <!--------============== Main-Section ================------->
 
   <section class="main">
     <div class="container">
       <div class="row">
         <div class="col-12 col-md-3 mt-5 animate__animated animate__fadeInLeft animate__animated animate__fadeInLeft animate__delay-1s position-relative">
           <img src="./asset/hero_img.svg" class="img-fluid mt-5 d-none d-md-block" alt="">
           <div class="social_icons m-3 position-absolute d-none d-md-block" style="left: 16%; top: 63%;">
             <i class="fa-brands fa-instagram text-light ms-5"></i>
             <i class="fa-brands fa-facebook text-light ms-1"></i>
           </div>
         </div>
         <div class="col-12 col-md-5 py-5">
           <h1 class="hero_text text-light animate__animated animate__fadeInUp">Golf Academy Plus</h1>
           <div class="hero_btn mt-5 animate__animated animate__fadeInUp animate__delay-1s">
               <button class="btn btn-success px-5 py-2 fw-bold">MEMBERS</button>
               <!-- <button class="btn btn-light text-success fw-bold ms-2" href="loginpage.html">LOGIN</button> -->
               <a href="loginpage.html" target="_parent" class="login_btn btn btn-light text-success fw-bold ms-2">LOGIN</a>
           </div>
       </div>
         <div class="col-lg-3 col-md-3 mt-2 animate__animated animate__fadeRight ">
           <div class="d-flex">
             <div>
             <h4 class="text-light animate__animated animate__fadeInRight animate__delay-1s mt-2">Stockholm, Sweden</h4>
             <p class="text-light animate__animated animate__fadeInRight animate__delay-1s">Tue, Jun 30, 2023</p>
           </div>
             <img src="./asset/cludy.png" class="cludy_img img-fluid animate__animated animate__fadeInRight animate__delay-2s" alt="">
             <h1 class="temperature_text text-success animate__animated animate__fadeInRight animate__delay-3s" style="font-size: 3.9rem;">19</h1>
           </div>
         </div>
       </div>
     </div>
   </section>
 
 
    <!--------============== Main-Section-end ================------->
         
   
    <!--------============== Card ================------->
         
        <section class="card_section">
         <div class="cards">
           <div class="container">
             <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 d-flex justify-content-center mt-5">
               <div class="col-lg-3 col-md-3 col-sm-9">
                 <div class="card_wrapper animate__animated animate__fadeInUp animate__delay-1s">
                     <div class="card h-100">
                         <div class="card-body">
                             <img src="./asset/card_1.jpeg" class="img-fluid px-1 py-1" alt="">
                             <p class="card-title text-center text-success py-2 fw-bold">Coach and Lessons</p>
                             <p class="card-text text-center">Uneekor Simulators indoor golf practice has never been <br> better.</p>
                         </div>
                     </div>
                 </div>
             </div>
                <div class="col-lg-3 col-md-3 col-sm-9">
                   <div class="card_wrapper animate__animated animate__fadeInUp animate__delay-2s">
                       <div class="card h-100">
                           <div class="card-body">
                               <img src="./asset/card_2.jpeg" class="img-fluid px-1 py-1" alt="">
                               <p class="card-title text-center text-success fs-6 py-2 fw-bold">Places</p>
                               <p class="card-text text-center">Uneekor Simulators indoor golf practice has never been <br> better.</p>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-9">
                 <div class="card_wrapper animate__animated animate__fadeInUp animate__delay-3s">
                     <div class="card h-100">
                         <div class="card-body">
                             <img src="./asset/card_3.jpeg" class="img-fluid px-1 py-1" alt="">
                             <p class="card-title text-center text-success fs-6 py-2 fw-bold">Camps</p>
                             <p class="card-text text-center">Uneekor Simulators indoor golf practice has never been <br> better.</p>
                         </div>
                     </div>
                 </div>
             </div>
             </div>
           </div>
         </div>
        </section>
         
    <!--------============== Card-end ================------->
    
 
    <!--------============== Carousel ================------->
   
  <section class="carousel_section">
   <div class="container px-5">
   <div id="carouselExampleCaptions" class="carousel slide mt-5 py-5" data-bs-ride="carousel">
     <div class="carousel-indicators">
       <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
       <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
       <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
     </div>
     <div class="carousel-inner position-relative">
       <div class="carousel-item active">
         <img src="./asset/pixelcut-export (1).jpeg" class="d-block w-100" alt="...">
         <div class="carousel-caption">
           <h1 class="">You Can Play News and Updates here,</h1>
           <p class="mt-3">Simulators indoor golf practice has  never been better.</p>
           <button class="btn btn-success fw-bold px-5 mt-5">LOGIN</button>
         </div>
       </div>
       <div class="carousel-item">
         <img src="./asset/pixelcut-export (1).jpeg" class="d-block w-100" alt="...">
         <div class="carousel-caption">
           <h1>You Can Play News and Updates here,</h1>
           <p class="mt-3">Simulators indoor golf practice has never been better.</p>
           <button class="btn btn-success fw-bold px-5 mt-5">LOGIN</button>
         </div>
       </div>
       <div class="carousel-item">
         <img src="./asset/pixelcut-export (1).jpeg" class="d-block w-100" alt="...">
         <div class="carousel-caption">
           <h1>You Can Play News and Updates here,</h1>
           <p class="mt-3">Simulators indoor golf practice has never been better.</p>
           <button class="btn btn-success fw-bold px-5 mt-5">LOGIN</button>
         </div>
       </div>
       <div class="paly_btn">
       <div class="triangle">
       </div>
       <div class="play-button"></div>
     </div>
     </div>
     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Previous</span>
     </button>
     <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Next</span>
     </button>
   </div>
   </div>
 </section>
   
    <!--------============== Carousel-end ================------->
   
 
    <!--------============== Offer ================------->
   
    <section class="offer_section">
     <div class="offer_sec">
      <div class="container">
       <div class="row col-md-12">
         <div class="col-md-6">
            <h1 class="text-light fw-semibold animate__animated animate__fadeInLeft animate__animated animate__fadeInLeft animate__delay-1s" >
               Extra 25% Off All <br>
               Selected Items
            </h1>
            <h3 class="mt-2  animate__animated animate__fadeInLeft animate__animated animate__fadeInLeft animate__delay-2s" style="color: rgb(197, 96, 12);">
               3 Days Only!
            </h3>
            <p class="text-light mt-3 mb-5  animate__animated animate__fadeInLeft animate__animated animate__fadeInLeft animate__delay-3s">
               Uneekor Simulators indoor golf practice <br>
               has never been better.
            </p>
         </div>
         <div class="col-md-3 mt-5">
            <button type="button" class="btn btn-outline-light fw-bold px-4 py-2">See More</button>
         </div>
         <div class="col-md-4">  
           <div class="offr_batch d-none d-md-block  ">
             <img src="./asset/rou.svg" class="img-fluid" width="200" alt="">
              <h3 class="text-light fw-semibold">25% <br> Off</h3>
           </div>
           <div class="offer_img d-none d-md-block"> 
           <img src="./asset/5 3.png" alt="">
           </div>
         </div>
       </div>
     </div>
    </div>
   </section>
 
  <!--------============== offer-end ================------->
 
 
  <!--------============== About ================------->
   
   <section class="about_section">
     <div class="row align-items-center mt-5">
       <div class="col-md-6">
         <img src="./asset/Frame 60.png" class="mt-5" style="width: 115%;" alt="Golf Academy Plus">
       </div>
       <div class="col-md-6 mt-3">
         <div class="about_content">
         <h2 class="fw-bold" style="color:#063B39">WE ARE</h2>
         <h6 class="text-uppercase mt-4 fw-bold">golf academy plus.com</h6>
         <p class="fw-semibold py-2 mb-3">
           With 5 top of the line Uneekor Simulators, indoor golf practice has never been better. Each simulator is equipped with GSPro software that has 300 of the top courses in the world, as well as many local courses. Each simulator has several practice softwares that can record live club head videos with playback, and accurately displays all the data to take your game to the next level!
         </p>
         <button class="btn btn-success fw-bold mt-3 px-5 py-2">Take A Booking</button>
       </div>
     </div>
     </div>
   </section>
 
   <!--------============== About-end ================------->
   
 
   <!--------============== why-choose-us ================------->
   
   <section class="why_choose_us">
    <div class="container">
     <div class="testimonial_sec">
     <h2 class="mt-5 py-5 text-center">Why Choose Us</h2>
     <div class="row ms-5">
      <div class="col-md-4 col-sm-6 mt-3 mb-3">
        <div class="testimonial_img ms-auto position-relative">
         <span class="1 fw-bold">01</span>
           <img src="./asset/Vector 61 (1).png" class="img-fluid" style="width: 80%; margin-top: 20%;" alt="">
        </div>
      </div>
      <div class="col-md-8 col-sm-4">
        <h4 class="mt-5 fw-bold">
          Lorem Ipsum dolor <br> sitiament
        </h4>
        <p class="">
          Uneekor Simulators indoor golf practice has never been 
          better. People can came over there and take booking 
          simulators for hours. 
        </p>
      </div>
     </div>
     <hr>
     <div class="row">
      <div class="col-md-4 col-sm-8"></div>
      <div class="col-md-4 col-sm-6 mt-5">
        <h4 class="ms-5 fw-bold">
          Lorem Ipsum dolor <br> sitiament
        </h4>
        <p class="ms-5">
          Uneekor Simulators indoor golf practice has never been 
          better. People can came over there and take booking 
          simulators for hours. 
        </p>
      </div>
       <div class="col-md-4 col-sm-6 mt-3 mb-3">
         <div class="testimonial_img ms-auto position-relative">
           <span class="2 fw-bold">02</span>
           <img src="./asset/Ellipse 32.png" class="img-fluid" style="width: 50%;" alt="">
        </div>
       </div>
     </div>
     <hr>
     <div class="row ms-5 mt-5">
      <div class="col-md-4 col-sm-6 mt-3 mb-3">
        <div class="testimonial_img ms-auto position-relative">
          <span class="3 fw-bold">03</span>
           <img src="./asset/Ellipse 33.png" class="img-fluid" style="width: 80%;" alt="">
        </div>
      </div>
      <div class="col-md-8 col-sm-6">
        <h4 class="fw-bold">
          Lorem Ipsum dolor <br> sitiament
        </h4>
        <p class="mb-5">
          Uneekor Simulators indoor golf practice has never been 
          better. People can came over there and take booking 
          simulators for hours. 
        </p>
      </div>
     </div>
   </div>
   </div>
 </section>
 