@import "bootstrap/dist/css/bootstrap.min.css";

  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(5, 110, 12);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(27,94,32);
  }

  .home-image {
    height: 400px;
    background-image: url('./assets/3872.jpg'); /* Update the path as needed */
    background-size: cover;
    background-position: center;
    width: 100%;
  }
