<div class="home container-fluid p-0 d-flex flex-column align-items-center">
  <!-- Background Image Section -->
  <div class="home-image d-flex justify-content-center align-items-center">
    <h1 class="welcome-text">Welcome to Our Destination</h1>
  </div>
  <!-- Card Section -->
  <div class="container-fluid page-content">
    <div class="row custom-gap px-5 justify-content-center">
      <div *ngFor="let card of cards" class="col-lg-4 col-md-6 col-sm-12">
        <a [routerLink]="[card.route]" class="card-link">
          <div class="golf-ball-card">
            <div class="golf-ball">
              <div class="content">
                <h2 class="title">{{ card.title }}</h2>
                <p class="copy">{{ card.description }}</p>
              </div>
            </div>
          </div>
        </a>
    </div>
</div>
  </div>
  <!-- News Grid Section -->
  <div class="container-fluid padding">
    <div class="row mx-0">
        <!-- Main Featured Article -->
        <div class="col-md-6 col-12 padding animate-box fade-in">
            <div class="featured-article" [routerLink]="'/news'" style="cursor: pointer;">
                <div class="article-content">
                    <div class="article-date">
                        <span class="text-white">
                            <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Dec 31, 2017
                        </span>
                    </div>
                    <div class="article-title">
                        <span class="title-link">After all is said and done, more is said than done</span>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Small Articles -->
        <div class="col-md-6">
            <div class="row">
                <!-- Small Article 1 -->
                <div class="col-md-6 col-6 padding animate-box fade-in">
                    <div class="small-article" [routerLink]="'/news'" style="cursor: pointer;">
                        <div class="article-content">
                            <div class="article-date">
                                <span class="text-white">
                                    <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Oct 28, 2017
                                </span>
                            </div>
                            <div class="article-title">
                                <span class="title-link-sm">After all is said and done, <br>more is said than done</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Small Article 2 -->
                <div class="col-md-6 col-6 padding animate-box fade-in">
                    <div class="small-article" [routerLink]="'/news'" style="cursor: pointer;">
                        <div class="article-content">
                            <div class="article-date">
                                <span class="text-white">
                                    <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Oct 28, 2017
                                </span>
                            </div>
                            <div class="article-title">
                                <span class="title-link-sm">After all is said and done...</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Small Article 3 -->
                <div class="col-md-6 col-6 padding animate-box fade-in">
                    <div class="small-article" [routerLink]="'/news'" style="cursor: pointer;">
                        <div class="article-content">
                            <div class="article-date">
                                <span class="text-white">
                                    <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Oct 28, 2017
                                </span>
                            </div>
                            <div class="article-title">
                                <span class="title-link-sm">After all is said and done, more is said than done</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Small Article 4 -->
                <div class="col-md-6 col-6 padding animate-box fade-in">
                    <div class="small-article" [routerLink]="'/news'" style="cursor: pointer;">
                        <div class="article-content">
                            <div class="article-date">
                                <span class="text-white">
                                    <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Oct 28, 2017
                                </span>
                            </div>
                            <div class="article-title">
                                <span class="title-link-sm">After all is said and done, more is said...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>