<div class="home container-fluid p-0 d-flex flex-column align-items-center">
  <div class="home-image d-flex justify-content-center align-items-center">
    <h1 class="welcome-text">Members News</h1>
  </div>
  <div class="container-fluid px-5">
    <h3 class="text-center my-3">Latest News</h3>
    <div
      class="row"
      infiniteScroll
      (scrolled)="loadMoreNews()"
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="300"
    >
      <div
        class="col-12 col-md-4 mb-4 p-2"
        *ngFor="let item of displayedNews"
      >
        <div class="news-card">
          <div class="news-image" [ngStyle]="{ 'background-image': 'url(' + item.imageUrl + ')' }"></div>
          <div class="news-content">
            <h5 class="news-title">{{ item.title }}</h5>
            <p class="news-date">{{ item.date }}</p>
            <p class="news-description">{{ item.description }}</p>
            <a [routerLink]="['/news']" class="read-more">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>    
</div>